body, html {
margin:0;
padding:0;
}

#header {
    width: 100%;
    background: #faf19a; /* Old browsers */
	background: -moz-linear-gradient(left, #faf19a 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#faf19a), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #faf19a 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #faf19a 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #faf19a 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right, #faf19a 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf19a', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    height: 130px;
}

#main {
    width: 1400px;
    margin: 0px auto;
}


#main h3 {
    background-color:#B7DE66;
	padding: 11px;
}