body, html {
margin:0;
padding:0;
}

#header {
    width: 100%;
    background: #faf19a; /* Old browsers */
	background: -moz-linear-gradient(left, #faf19a 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#faf19a), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #faf19a 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #faf19a 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #faf19a 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to right, #faf19a 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf19a', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    height: 130px;
}

#main {
    width: 1200px;
    margin: 0px auto;
}


#header span {
	width: 118px;
	height: 44px;
	display: block;
	background-image: url('http://amkroma.com/fdf/logo.png');
	padding-top: 43px;
	background-position: center bottom;
	background-repeat: no-repeat;
	margin-left: 120px;
}

#main h3 {
    background-color:#B7DE66;
	padding: 11px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-bottom:0;
}

#active tbody tr {
	line-height: 20px;
	height: 58px;
}

#active tr:first-child th{
    height: 30px;
}
#active thead {
	font-family: arial;
font-size: 14px;
background-color: #B7DE66;
}

#active tbody {
	font-weight: 100;
	font-family: helvetica;
	font-size: 14px;
	-webkit-box-shadow:inset 0px 0px 0px 1px #000;
    -moz-box-shadow:inset 0px 0px 0px 1px #000;
    box-shadow:inset 0px 0px 0px 1px #000;
}
table {
    border-collapse: collapse;
}
 
#active tbody th{
	border-bottom: 1px solid #000;
}

#active th span {
	display: block;
}

#active th span.jour {
	float: left;
	width: 30%;
    font-size: 23px;
	line-height:23px;
	margin-left:7%;
}

#active th span.mois {
    font-size: 14px;
	line-height: 14px;
	float: right;
	width: 63%;
}

#active th span.annee {
    font-size: 13px;
	line-height: 13px;
	float: right;
	width: 63%;
}

#active th span.cate {
    line-height: 16px;
	font-size: 13px;
}

col {
	width: auto;
}